.hero {
    padding: 64px 16px 88px 16px;
    text-align: center;

    @media (min-width: $tablet) {
        max-width: 768px;
        margin: 0 auto;
    }

    @media (min-width: $desktop) {
        max-width: 100%;
        padding: 80px 16px 176px 16px;
    }

    &__image-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }

    &__image {
        box-sizing: content-box;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        border: 16px solid #F6F9FD;

        @media (min-width: $desktop) {
            width: 178px;
            height: 178px;
            border: 24px solid #F6F9FD;
        }
    }

    &__speech-bubble {
        position: absolute;
        left: calc(50% + 100px);
        top: -48px;
    }

    &__hello {
        display: none;

        @media (min-width: $desktop) {
            display: block;
            background: $blue;
            color: #FFFFFF;
            border-radius: 16px;
            padding: 16px 19px;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 17.42px;
                height: 22.66px;
                background: url('../assets/img/speech_cloud.svg');
                position: absolute;
                left: 32px;
                top: 100%;
            }
        }
    }

    &__description-container {
        line-height: 32px;

        @media (min-width: $desktop) {
            line-height: 40px;
            max-width: 786px;
            margin: 0 auto;
            position: relative;

            &::before,
            &::after {
                width: 83.23px;
                height: 254.88px;
                content: '';
                display: block;
                position: absolute;
                top: 0;
            }

            &::before {
                background: url('../assets/img/{.svg');
                right: 100%;
            }

            &::after {
                background: url('../assets/img/}.svg');
                left: 100%;
            }
        }
    }

    &__header {
        font-weight: 700;
        font-size: 26px;
        color: $textDark;
        margin-top: 40px;
        margin-bottom: 16px;

        @media (min-width: $desktop) {
            font-size: 32px;
            line-height: 40px;
            margin-top: 72px;
            margin-bottom: 24px;
        }
    }

    &__special {
        color: $blue;
        white-space: nowrap;
    }

    &__paragraph {
        font-weight: 300;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 48px;

        @media (min-width: $desktop) {
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 68px;
        }
    }

    &__link {
        font-weight: 700;
        color: $textLink;
        text-decoration: none;
    }

    &__mail {
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
        display: inline-block;
        text-decoration: none;
        padding: 4px 24px;
        color: #fff;
        background: $textLink;
        border-radius: 64px;
    }
}